In [38]:
# Create set
set1 = {1,1,1,4,4,5,7,1,5,'python', True}
print(f"Type of set1: {type(set1)}")
print(f"set1: {set1}")

Type of set1: <class 'set'>
set1: {1, 4, 5, 7, 'python'}

In [39]:
# set.add()
# to add single element
set1.add(111)
print(f"set1: {set1}")

set1: {1, 4, 5, 7, 111, 'python'}

In [40]:
# set.copy()
set2 = set1.copy()
print(f"set1: {set1}")
print(f"set2: {set2}")

set1: {1, 4, 5, 7, 111, 'python'}
set2: {1, 4, 5, 'python', 7, 111}

In [41]:
# set.update()
# Add multiple elements
lst = [333, 'program', 427]
set1.update(lst) 

set2.add(888)
set1.add(1000)
print(f"set1:  {set1}")
print(f"set2:  {set2}")

set1:  {1, 4, 5, 7, 1000, 427, 333, 111, 'program', 'python'}
set2:  {1, 4, 5, 'python', 7, 888, 111}

In [42]:
# set1.difference(set2)
# returns item that is present in set1 but not in set 2
set1.difference(set2)

{1000, 333, 427, 'program'}

In [43]:
# set1.symmetric_difference(set2)
# returns element present in only one set
set1.symmetric_difference(set2)

{1000, 333, 427, 888, 'program'}

In [44]:
# set.intersection(set)
# returns element present in both sets
set2.intersection(set1)

{1, 111, 4, 5, 7, 'python'}

In [45]:
# set2.issubset(set1)
# checks if set2 is subset of set1 or not 
set2.issubset(set1)

False

In [46]:
# set2.issuperset(set1)
# checks if set2 is superset of set1 or not 
set2.issuperset(set1)

False

In [47]:
# set.discard(x)
set1.discard(4)
print(f"set1:  {set1}")
print(f"set2:  {set2}")

set1:  {1, 5, 7, 1000, 427, 333, 111, 'program', 'python'}
set2:  {1, 4, 5, 'python', 7, 888, 111}